@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9911 0 0);
    --foreground: oklch(0.2046 0 0);
    --card: oklch(0.9911 0 0);
    --card-foreground: oklch(0.2046 0 0);
    --popover: oklch(0.9911 0 0);
    --popover-foreground: oklch(0.4386 0 0);
    --primary: oklch(0.8348 0.1302 160.908);
    --primary-foreground: oklch(0.2626 0.0147 166.4589);
    --secondary: oklch(0.994 0 0);
    --secondary-foreground: oklch(0.2046 0 0);
    --muted: oklch(0.9461 0 0);
    --muted-foreground: oklch(0.2435 0 0);
    --accent: oklch(0.9461 0 0);
    --accent-foreground: oklch(0.2435 0 0);
    --destructive: oklch(0.5523 0.1927 32.7272);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9037 0 0);
    --input: oklch(0.9731 0 0);
    --ring: oklch(0.8348 0.1302 160.908);
    --radius: 0.5rem;
  }

  .dark {
    --background: oklch(0.1822 0 0);
    --foreground: oklch(0.9288 0.0126 255.5078);
    --card: oklch(0.2046 0 0);
    --card-foreground: oklch(0.9288 0.0126 255.5078);
    --popover: oklch(0.2603 0 0);
    --popover-foreground: oklch(0.7348 0 0);
    --primary: oklch(0.4365 0.1044 156.7556);
    --primary-foreground: oklch(0.9213 0.0135 167.1556);
    --secondary: oklch(0.2603 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2393 0 0);
    --muted-foreground: oklch(0.7122 0 0);
    --accent: oklch(0.3132 0 0);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.3123 0.0852 29.7877);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.2809 0 0);
    --input: oklch(0.2603 0 0);
    --ring: oklch(0.8003 0.1821 151.711);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      sans-serif;
  }
}
